@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

*{
	margin: 0 auto;
}

body{
	background-image: url('images/bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

h1{
	font-size: 70px;
}

p{
	font-size: 20px;
}

ul {
		list-style: none;
	}

nav{
	font-size: 30px;
}
