@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

*{
	margin: 0 auto;
}

body{
	background-image: url('images/bg.jpg');
	background-size: cover;
	height: 100%;
	width: 100%;
}

header{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #fff;
	margin-top: 150px;
}

h1{
	border: 1px solid #fff;
	font-size: 80px;
}

.description{
	font-size: 20px;
	border: 1px solid #fff;
}

.social-media{
	display: inline-flex;
}

.icons{
	font-size: 40px;
	list-style: none;
	display: flex;
	border: 1px solid #fff;
	margin: 20px;
	padding: 20px;
	border-radius: 100%;
	width: 50px;
}

a{
	text-decoration: none;
	color: #fff;
}

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
}

.developer{
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	border: 1px solid #fff;
}
