@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

*{
	margin: 0 auto;
}

body{
	background-image: url('images/bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

h1{
	font-size: 80px;
}

p{
	font-size: 20px;
}

ul, li{
	font-size: 50px;
	list-style: none;
	display: inline;
}

a{
	text-decoration: none;
	color: #fff;
}

footer{
	font-size: 25px;
}
